body {margin:0; padding:0; background-color:#669500;}

h1 {margin:0;; font-family:verdana; font-size:25px; color:#ffffff;}

h2 {margin:0 0 0 50px; font-family:verdana; font-size:20px; color:#eeeeee;}

.frame3dtitle
{
  background-color:#7dcd00; padding:6px; border:4px ridge #3c6200; margin:4px;
}

.frame3d {background-color:#93bd00; padding:6px; border:2px outset #93bd00; margin:4px;}

.frame3d a {color:#304f00; text-decoration:none;}

.frame3d a:hover {text-decoration:underline;}

fieldset
{
  font-weight:bold;
  font-family:verdana;
  font-size:13px;
}

input, textarea, label, select, button, a
{
  font-family:verdana;
  font-size:12px;
}

input, textarea, select
{
  background-color:#e2ff7e;
}

input[type=submit], input[type=reset], button
{
  border-left:solid 1px #edffb2;
  border-top:solid 1px #edffb2;
  border-right:solid 1px #6d8d00;
  border-bottom:solid 1px #6d8d00;
  background-color:#9fb43e;
}

input, textarea, select, fieldset
{
  border-right:solid 1px #e8ff9b;
  border-bottom:solid 1px #e8ff9b;
  border-left:solid 1px #7b9f00;
  border-top:solid 1px #7b9f00;
}

label
{
  color:#304f00;
  font-weight:normal;
}

input[type=submit], input[type=reset], fieldset, button
{
  color:#1a3e00;
}

#header
{
  z-index:2;
	margin:0 auto;
	background-color:#616226;
  background-image:url('../pictures/title.png');
  background-repeat:no-repeat;
  height:100px;
  padding:10px;
}

.version
{
  display:block;
  width:205px;
  height:30px;
  color:#ffffff;
	margin:80px 0 0 480px;
	font-family:verdanna;
	font-style:italic;
  font-weight:bold;
	font-size:25px;
}

#footer
{
  z-index:2;
	margin:0 auto;
	background-color:#616226;
  height:30px;
  padding:10px;
}

.footer_infos
{
  position:absolute;
  color:#ffffff;
	margin-left:190px;
  margin-top:8px;
  margin-right:0;
  margin-bottom:0;
	font-family:verdanna;
  font-weight:bold;
	font-size:0.9em;
}

.footer_logow3c img
{
  padding-left:0;
  padding-right:10px;
  padding-top:8px;
  padding-bottom:0;
}

.footer_logow3c
{
  position:absolute;
  margin:0;
	margin-left:30px;
}