/* Version
V1.1.00	2010-07-22	PhD	Corrigé orthographe Verdana, ajouté .footer_notes
						Supprimé body:background-color 
*/

/* Redéfinition des propriétés par défaut des balises */
  body {margin:0; padding:0; }
  h1, h2, h3 {margin:0;}
  a {text-decoration:none;}
  a:hover {text-decoration:underline;}
  img {border:none;}
  label {font-family:arial; font-size:10pt; font-weight:normal;}
  /*fieldset {border:solid 2px #ffffff; }*/
  form {color:#ffffff;}
  legend {color:#ffffff; font-family:verdana; font-weight:bold; font-size:11pt;}
  form div {margin:15px 0 5px;}

/* Ecran de chargement */
  #loading {position:fixed; width:100%; height:100%; background-image:url('../pictures/loading_bg.png'); z-index:4;}

  .loading_info {padding:0 10px; background-color:white; text-align:center; margin:300px auto 0; width:200px; height:50px; border:solid 2px gray; color:#888888;}

/* Zone d'en-tête */
  #header {margin:0 auto; background-color:#616226; background-image:url('../pictures/title.png'); background-repeat:no-repeat; height:100px; padding:10px; z-index:2;}

  .logo {position:absolute; top:10px; left:13px; height:77px; width:144px;}

  .version {position:absolute; top:88px; left:10px; color:#ffffff; font-family:verdana; font-style:italic; font-weight:bold; font-size:8pt;}
  .version a {color:#e8f19a;}
  .version a:hover {color:#a4bf37;}

/* Bulle d'aide en ligne */
  #help {position:absolute; margin-left:370px; margin-top:30px; background-image:url('../pictures/help_off.png'); width:40px; height:40px;}
  #help:hover {background-image:url('../pictures/help_on.png');}

  #help_frame {position:absolute; margin-left:450px; margin-top:30px; margin-right:10px; border:solid 2px black; width:auto; height:auto; background-image:url('../pictures/bgsearch.png'); padding:10px; max-width:400px;}
  #help_frame h1 {color:#d2d2d2; font-family:arial; font-size:24pt;}
  #help_frame p, #help_frame li {color:#ffffff; font-family:verdana; margin:5px 0 0 10px; font-size:11pt;}

/* Zone de recherche */
  #search_frame {padding:10px 0 10px 30px; z-index:2;}

  #launchsearch {padding:0 5px; color:gray; border:solid 1px #ffffff; margin:5px 29px 0 19px; width:340px; padding:5px; min-height:20px; font-style:italic;}

  .search_frame_title {text-align:center; font-family:verdana; font-style:normal; color:#a4bf37; padding-top:26px; letter-spacing:5px;}
  .search_frame_content {display:block; margin:0 28px 0 18px; padding:0;}
  .search_frame_up {background:url('../pictures/search_frame_up.png') no-repeat; width:450px; height:80px;}
  .search_frame_middle {background:url('../pictures/search_frame_middle.png') repeat-y; width:450px; padding:5px;}
  .search_frame_down {background:url('../pictures/search_frame_down.png') no-repeat; width:450px; height:40px;}

  #choice {margin:0 auto; width:400px;}

/* Zone de résultat */
  #bloc_result {padding:0 50px; margin:0 auto; padding:10px; z-index:2;}

  .result_body {border-style:none solid solid; border-width:1px; border-color:black;}
  .result_body a {color:#291c01; text-decoration:none; border:none;}
  .result_body a:hover {font-style:italic;}
  .result_body table {border-collapse:collapse; border:solid 1px black; width:100%;}
  .result_body th {text-align:left; background-color:#ffffe9; font-family:verdana; font-style:italic; font-weight:bold; font-size:11pt; border:solid 1px black;}
  .result_body td {text-align:left; border:none; border-left:solid gray 1px; border-right:solid gray 1px; padding:0 10px; font-family:arial; font-style:normal; font-weight:normal; font-size:10pt;}

  .magnify {height:20px; width:17px; background-image:url('../pictures/magnify.png');}
  .magnify:hover {background-image:url('../pictures/magnify_hover.png');}

  .up {height:26px; width:40px; margin:10px auto; background-image:url('../pictures/up.png');}
  .up:hover {background-image:url('../pictures/up_hover.png');}

  .rslt_lgn1 {background-color:#f0f08c; cursor:default;}
  .rslt_lgn2 {background-color:#f0dcb4; cursor:default;}
  .rslt_lgn1:hover {background-color:#dbff49;}
  .rslt_lgn2:hover {background-color:#dbff49;}

  .rslt_ttl {background-color:#6cda30; border:solid 1px black; font-family:verdana; font-size:14pt; text-align:left;}
  .rslt_ttl a {color:#291c01; font-style:normal; border:none;}
  .rslt_ttl a:hover {text-decoration:underline;}
  .rslt_ttl_pm {float:left; height:25px; width:25px;}
  .rslt_ttl_link {height:25px;}
  .rslt_ttl_link a {color:#5e5f3f;}
  .rslt_ttl_link a:hover {color:#8b8d5d;}
  .rslt_ttl_nbres {float:right; margin-top:-25px; height:25px; color:#5f4a3f;}

  #content {background:#ffffff url('../pictures/bg.png') no-repeat;}

/* Zone de debug */
  #bloc_trace {border:1px inset gray; color:gray; background-color:black; font-family:courier; font-size:8pt; font-weight:bold; z-index:1;}

  #errormsg {border:solid 2px #e62626; background-color:#9fb43e; width:500px;}

/* Zone de pied-de-page */
  #footer {margin:0 auto; background-color:#616226; height:30px; padding:10px; z-index:2;}

  .footer_infos {position:absolute; color:#ffffff; margin:8px 0 0 190px; font-family:verdana; font-weight:bold; font-size:9pt;}

  .footer_logow3c img {padding:8px 10px 0 0;}

  .footer_logow3c {position:absolute; margin:0; margin-left:30px;}

  .footer_notes {float:right; color:#ffffff; margin:8px 20px 0 0; font-family:verdana; font-weight:bold; font-size:9pt;}
  .footer_notes a {color:#e8f19a;}
  .footer_notes a:hover {color:#a4bf37;}
  
/* Infobulles d'informations sur les entrées */
  #entryinfos {position:absolute; margin-left:402px; margin-top:30px; margin-right:10px; border:none;}

  #entryinfos_body {display:table; max-width:250px;}

  #entryinfos_body #entryinfos_cell1, #entryinfos_body #entryinfos_cell3, #entryinfos_body #entryinfos_cell7, #entryinfos_body #entryinfos_cell9 {display:table-cell; height:19px; width:19px; background-repeat:no-repeat;}
  #entryinfos_body #entryinfos_cell5 {display:table-cell; background-repeat:repeat;}
  #entryinfos_body #entryinfos_cell2, #entryinfos_body #entryinfos_cell8 {display:table-cell; height:19px; background-repeat:repeat-x;}
  #entryinfos_body #entryinfos_cell4, #entryinfos_body #entryinfos_cell6 {display:table-cell; width:19px; background-repeat:repeat-y;}

  #entryinfos_body #entryinfos_row1, #entryinfos_body #entryinfos_row2, #entryinfos_body #entryinfos_row3 {display:table-row;}

  #entryinfos_body #entryinfos_cell1 {background-image:url('../pictures/entryinfos_1.png');}
  #entryinfos_body #entryinfos_cell2 {background-image:url('../pictures/entryinfos_2.png');}
  #entryinfos_body #entryinfos_cell3 {background-image:url('../pictures/entryinfos_3.png');}
  #entryinfos_body #entryinfos_cell4 {background-image:url('../pictures/entryinfos_4.png');}
  #entryinfos_body #entryinfos_cell5 {background-image:url('../pictures/entryinfos_5.png');}
  #entryinfos_body #entryinfos_cell6 {background-image:url('../pictures/entryinfos_6.png');}
  #entryinfos_body #entryinfos_cell7 {background-image:url('../pictures/entryinfos_7.png');}
  #entryinfos_body #entryinfos_cell8 {background-image:url('../pictures/entryinfos_8.png');}
  #entryinfos_body #entryinfos_cell9 {background-image:url('../pictures/entryinfos_9.png');}

  #entryinfos_body #entryinfos_text {margin:-5px; color:#065500; font-family:times; font-weight:normal; font-size:10pt; text-align:justify;}

/* Propriétés d'affichage par défaut des éléments */
  #form_checkboxall, #form_domain, #help {display:none;}
  #entryinfos, #help_frame, #loading {visibility:hidden;}
  
/************************************************** Styles spécifiques page "Notes" ****/

#header_notes {margin:0 auto; background-color:#616226; height:100px; padding:10px; z-index:2;}

#header_notes_titre { position:absolute; top:50px; left:250px; color: #ffffff; font-family: verdana; font-size: 32px; }

#notes {
color: #101000 ;		/* noir coloré brun */
margin : 20px;
font-size: 12px;
font-family: Verdana, Arial, sans-serif;	
}

#notes  h1{
font-weight: bold;
margin: 0.5em 8em 0.5em 0em;
font-size: 2em;
}

#notes h2, caption {
font-weight: bold;
margin: 1.5em 11.5em 0.5em 0em;
padding-left: 0.5em;
font-size: 1.5em;
}

#notes h3 {
font-style: italic;
font-weight: bold;
font-size: 1.2em;
margin: 0.2em 0em 0.2em 1em;
}


#notes p{
 margin: 0.6em 0 0.4em 0;
}

#notes ul, ol {
padding: 1em 2em;
}

#notes ul li {
list-style-type: disc;
list-style-position: inside;
}

#notes ol li {
list-style-type: circle;
}
